{% extends 'base.html' %}

{% block content %}
  <div class="modal" id="prModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <a href="/users/login">
            <button type="button" class="close"  aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </a>
        </div>
        <div class="modal-body">
          <div class="alert alert-success" role="alert">
          <p>
            We've emailed you instructions for resetting your password, if an account exists with the email you entered.
            You should receive them shortly.
          </p>
          <p>
            If you don't receive an email, please make sure you've entered the address you registered with,
            and check your spam folder.
          </p>
          </div>
        </div>
        <div class="modal-footer">
          <a href="/users/login"><button type="button" class="btn btn-primary">Close</button></a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
