{% extends 'base.html' %}

{% block content %}
  {% if validlink %}
  <section class="container">
    <div class="row centre-v">
      <div class="card login-card">
        <div class="main card-block">
          <h3>Change password</h3>
          {% if form.errors %}
            {% for field in form %}
              {% for error in field.errors %}
                <div class="alert alert-danger" role="alert"><b>{{ error }}</b></div>
              {% endfor %}
            {% endfor %}
            {% for error in form.non_field_errors %}
              <div class="alert alert-danger" role="alert"><b>{{ error }}</b></div>
            {% endfor %}
          {% endif %}
          <div class="login-or">
            <hr class="hr-or">
          </div>
            <p>
              <button class="btn btn-info" type="button" data-toggle="collapse" data-target="#helptext" aria-expanded="false" aria-controls="collapseExample">
                Help
              </button>
            </p>
            <form action="." method="post">
              {% csrf_token %}
              <p><input type="password" name="new_password1" id="id_new_password1" placeholder="New password"required></p>
              <p><input type="password" name="new_password2" id="id_new_password2" placeholder="Confirm password" required></p>
              <p>
                <div class="btn-login">
                  <input class="btn btn-danger" type="submit" value="Enter">
                </div>
                <div class="collapse" id="helptext">
                  <div class="card card-block main">
                    <span class="helptext main">Your password can&#39;t be too similar to your other personal information.<br><br>Your password must contain at least 8 characters.<br><br>Your password can&#39;t be a commonly used password.<br><br>Your password can&#39;t be entirely numeric.</span>
                  </div>
                </div>
            </form>
        </div>
      </div>
    </div>
    </section>
  {% else %}
    <p>
      The password reset link was invalid, possibly because it has already been used.
      Please request a new password reset.
    </p>
  {% endif %}
{% endblock %}
