<!DOCTYPE html>

{% extends 'base.html' %}

{% block content %}
<div class="row centre-v">
  <div class="card pr-card">
    <div class="card-block">
      <h3>Forgot Password</h3>
      <div class="login-or shop-or">
        <hr class="hr-or">
      </div>
        <form method="post">
          {% csrf_token %}
          <p><input type="email" name="email" placeholder="Email" maxlength="254" required id="id_email" /></p>
            <div class="row">
              <div class="btn-login">
                <input class="btn btn-success" type="submit" value="Enter">
              </div>
            </div>
        </form>
    	</div>
</div>
{% endblock %}
