<!DOCTYPE html>

{% extends "base.html" %}

{% load staticfiles %}

{% block title %}Pomodoro{% endblock %}

{% block content %}
{% if request.GET.success %}
<div class="modal" id="logout-modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-success main" role="alert">
          <p><b>You have successfully changed your password.</b></p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endif %}
<audio id="coin-sound">
  <source src="{% static 'assets/coin.mp3' %}">
</audio>
<div class="row centre-v">
  <div class="card clock-card">
    <div class="card-block">
        <span class="motivation">Work hard, play hard.</span>
				<div class="clock-timer" id="clock-timer">
					<span class="minutes"></span>:<span class="seconds"></span>
				</div>
				<div class="options">
					<button class="btn btn-success btn-lg start-pomodoro">Start Pomodoro</button>
					<button class="btn btn-info btn-lg start-break1 hidden">Start Break</button>
					<button class="btn btn-info btn-lg start-break2 hidden">Start Break</button>
					<button class="btn btn-danger btn-lg reset hidden">Reset</button>
				</div>
		</div>
	</div>
</div>
{% endblock %}
